* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  width: 1518px;
  margin: 0 auto;
}

header {
  background-image: url(../images/Rectangle1.svg);
  height: 754px;
  background-size: 1518px;
}
header .nav {
  margin-left: 584px;
  padding-top: 45px;
}
header .nav ul {
  display: flex;
}
header .nav li {
  list-style: none;
  margin-left: 40px;
}
header .nav li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
header .nav button {
  margin-left: 60px;
  background-color: rgb(248, 70, 70);
  color: white;
  padding: 10px 20px;
  margin-top: -10px;
  font-size: 14px;
  border-radius: 8px;
  border-color: rgb(248, 70, 70);
}
header .nav button:hover {
  background-color: red;
}
header .text {
  padding-top: 100px;
  margin-left: 122px;
}
header .text h1 {
  font-size: 64px;
  line-height: 82px;
  font-weight: 700;
}
header .text p {
  font-size: 20px;
  margin-top: 20px;
  line-height: 36px;
  font-weight: 400;
}
header .text input {
  width: 502px;
  height: 73px;
  margin-top: 50px;
  border-radius: 8px;
  padding: 19px 292px 18px 32px;
  border-color: white;
}
header .text a {
  position: absolute;
  background-color: rgb(248, 70, 70);
  color: white;
  text-decoration: none;
  padding: 16px 37px;
  border-radius: 8px;
  margin-left: -140px;
  margin-top: 57px;
}
header .text a:hover {
  background-color: red;
}

@media (max-width: 834px) {
  .conteiner {
    margin: 0 auto;
  }
  header {
    background-image: url(../images/Rectangle2.svg);
    height: 647px;
    background-size: 1224px;
    background-repeat: no-repeat;
  }
  header .nav {
    margin-left: 318px;
    padding-top: 45px;
  }
  header .nav li {
    list-style: none;
    margin-left: 40px;
  }
  header .nav li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
  }
  header .nav button {
    margin-left: 40px;
    font-size: 14px;
  }
  header .nav button:hover {
    background-color: red;
  }
  header .text {
    padding-top: 96px;
    margin-left: 100px;
  }
  header .text h1 {
    font-size: 56px;
    line-height: 73px;
    font-weight: 700;
  }
  header .text p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 28px;
  }
  header .text input {
    width: 452px;
    height: 73px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 19px 150px 18px 26px;
    border-color: white;
  }
  header .text a {
    position: absolute;
    background-color: rgb(248, 70, 70);
    color: white;
    text-decoration: none;
    padding: 16px 37px;
    border-radius: 8px;
    margin-left: -140px;
    margin-top: 28px;
  }
  header .text a:hover {
    background-color: red;
  }
}
.items {
  margin-top: 120px;
}
.items-text {
  text-align: center;
}
.items-text h1 {
  font-size: 36px;
  font-weight: bold;
}
.items-text p {
  font-size: 24px;
  margin-top: 30px;
}
.items .cards {
  display: flex;
  text-align: center;
  width: 100%;
  padding: 0 70px;
  flex-wrap: wrap;
}
.items .card1 {
  margin-top: 98px;
  width: 33%;
}
.items .card2 {
  margin-top: 98px;
  width: 33%;
}
.items .card3 {
  margin-top: 98px;
  width: 33%;
}
.items .card4 {
  margin-top: 94px;
  width: 33%;
}
.items .card5 {
  margin-top: 94px;
  width: 33%;
}
.items .card6 {
  margin-top: 94px;
  width: 33%;
}
.items-card h1 {
  font-size: 24px;
  font-weight: 800;
  margin-top: 20px;
}
.items-card p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 834px) {
  .conteiner {
    width: 1224px;
  }
  .items {
    margin-top: 120px;
  }
  .items-text {
    text-align: center;
  }
  .items-text h1 {
    font-size: 36px;
    font-weight: bold;
  }
  .items-text p {
    font-size: 24px;
    margin-top: 30px;
  }
  .items .cards {
    display: flex;
    width: 100%;
    padding: 0px 200px;
    flex-wrap: wrap;
  }
  .items .card1 {
    margin-top: 98px;
    width: 50%;
  }
  .items .card2 {
    margin-top: 98px;
    width: 50%;
  }
  .items .card3 {
    margin-top: 90px;
    width: 50%;
  }
  .items .card4 {
    margin-top: 90px;
    width: 50%;
  }
  .items .card5 {
    margin-top: 90px;
    width: 50%;
  }
  .items .card6 {
    margin-top: 90px;
    width: 50%;
  }
  .items-card h1 {
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
  }
  .items-card p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;
  }
}
.test {
  margin-top: 150px;
  background-color: rgb(248, 70, 70);
  height: 376px;
}
.test-text {
  color: white;
}
.test-text h1 {
  text-align: center;
  padding-top: 50px;
  font-weight: 600;
  font-size: 48px;
}
.test-text p {
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
}
.test .item {
  margin-left: 220px;
  display: flex;
  width: 100%;
  margin-top: 80px;
}
.test .test-items h6 {
  font-weight: 300;
  line-height: 31px;
  font-size: 18px;
}
.test .item1 {
  width: 20%;
}
.test .item2 {
  width: 20%;
}
.test .item3 {
  width: 20%;
}
.test .item4 {
  width: 20%;
  margin-left: 100px;
}

@media (max-width: 834px) {
  .test {
    margin-top: 160px;
    background-color: rgb(248, 70, 70);
    height: 286px;
  }
  .test-text {
    color: white;
  }
  .test-text h1 {
    padding-top: 35px;
    font-weight: 600;
    font-size: 48px;
  }
  .test .item {
    display: flex;
    width: 100%;
    margin-top: 40px;
    position: absolute;
    gap: 50px;
  }
  .test .test-items h6 {
    font-weight: 300;
    line-height: 31px;
    font-size: 14px;
  }
  .test .item1 {
    width: 20%;
  }
  .test .item2 {
    width: 20%;
  }
  .test .item3 {
    width: 20%;
  }
  .test .item4 {
    width: 20%;
    margin-left: 40px;
  }
}
.foto {
  margin: 200px 0px 0;
}
.foto--text {
  margin-left: 120px;
}
.foto--text h1 {
  font-size: 64px;
  line-height: 76px;
  font-weight: bold;
}
.foto--text p {
  font-size: 16px;
  margin-top: 40px;
  line-height: 32px;
  color: #808080;
  margin-bottom: 80px;
}
.foto--text img {
  position: absolute;
  margin-left: 633px;
  margin-top: -410px;
}
.foto--text a {
  text-decoration: none;
  color: white;
  padding: 12px 58px;
  background-color: rgb(248, 70, 70);
  border-radius: 8px;
}
.foto--text a:hover {
  background-color: red;
}

.foto--item {
  margin-top: 140px;
}
.foto--item img {
  opacity: 1;
  position: absolute;
  margin-left: 120px;
}

.analiz {
  margin-left: 920px;
}

@media (max-width: 834px) {
  .foto {
    margin: 160px 0px 0;
  }
  .foto--text {
    margin-left: 100px;
  }
  .foto--text h1 {
    font-size: 58px;
    line-height: 60px;
    font-weight: 600;
  }
  .foto--text p {
    font-size: 14px;
    margin-top: 20px;
    line-height: 28px;
    margin-bottom: 46px;
  }
  .foto--text img {
    width: 424px;
    height: 404px;
    position: absolute;
    margin-left: 433px;
    margin-top: -312px;
  }
  .foto--item {
    margin-top: 140px;
    background-image: url(../images/comp.png);
    background-repeat: no-repeat;
    background-size: 420px;
    background-position-x: 100px;
  }
  .foto--item img {
    opacity: 0;
  }
  .analiz {
    margin-left: 696px;
  }
}
.bank {
  background-color: #F4F5F7;
  margin-top: 180px;
  height: 603px;
  padding-top: 59px;
}
.bank--text {
  text-align: center;
}
.bank--text h1 {
  font-size: 48px;
  font-weight: bold;
}
.bank--text p {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
}
.bank--logo {
  display: flex;
  padding-top: 168px;
}
.bank .logo1 {
  margin-left: 280px;
}
.bank .logo2 {
  position: absolute;
  width: 170px;
  height: 300px;
  margin-left: 441px;
  margin-top: -20px;
}
.bank .logo2 img {
  margin-top: -50px;
}
.bank .logo3 {
  position: absolute;
  width: 170px;
  height: 336px;
  margin-left: 640px;
  margin-top: -90px;
}
.bank .logo3 img {
  margin-top: -50px;
  margin-left: 0px;
}
.bank .logo4 {
  height: 216px;
  width: 170px;
  margin-left: 390px;
  margin-top: -20px;
}
.bank .logo4 img {
  margin-top: -50px;
}
.bank .logo5 {
  margin-left: 70px;
}

@media (max-width: 834px) {
  .bank {
    background-color: #F4F5F7;
    margin-top: 180px;
    height: 603px;
    padding-top: 59px;
  }
  .bank--text {
    text-align: center;
  }
  .bank--text h1 {
    font-size: 48px;
    font-weight: bold;
  }
  .bank--text p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
  }
  .bank--logo {
    display: flex;
    padding-top: 168px;
    margin-left: -150px;
  }
  .bank .logo1 {
    margin-left: 280px;
  }
  .bank .logo2 {
    position: absolute;
    width: 170px;
    height: 300px;
    margin-left: 441px;
    margin-top: -20px;
  }
  .bank .logo2 img {
    margin-top: -50px;
  }
  .bank .logo3 {
    position: absolute;
    width: 170px;
    height: 336px;
    margin-left: 640px;
    margin-top: -90px;
  }
  .bank .logo3 img {
    margin-top: -50px;
    margin-left: 0px;
  }
  .bank .logo4 {
    height: 216px;
    width: 170px;
    margin-left: 390px;
    margin-top: -20px;
  }
  .bank .logo4 img {
    margin-top: -50px;
  }
  .bank .logo5 {
    margin-left: 70px;
  }
}
.usr {
  padding: 10px;
  text-align: center;
  margin-top: 160px;
}
.usr h1 {
  font-size: 48px;
  margin-top: 10px;
  font-weight: bold;
}
.usr p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 50px;
}
.usr a {
  background-color: rgb(248, 70, 70);
  color: white;
  padding: 20px 45px;
  text-decoration: none;
  border-radius: 8px;
}
.usr a:hover {
  background-color: red;
}

footer {
  background-color: rgb(248, 70, 74);
  height: 580px;
  margin-top: 160px;
  padding: 80px 0 0 0px;
}
footer .foot--card {
  display: flex;
}
footer .foot--ites {
  margin-left: 110px;
  color: white;
}
footer .foot--ites h4 {
  font-size: 20px;
  font-weight: 500;
}
footer .foot--ites li {
  list-style: none;
  margin-top: 35px;
  margin-left: -35px;
}
footer .foot--ites li a {
  font-size: 16px;
  text-decoration: none;
  color: #E6E6E6;
}
footer .foot1 u {
  text-decoration: none;
  position: absolute;
  margin-top: 50px;
}
footer .foot--img {
  position: absolute;
  margin-left: 1120px;
  margin-top: 400px;
}

@media (max-width: 834px) {
  footer {
    background-color: rgb(248, 70, 74);
    height: 600px;
    margin-top: 160px;
    padding: 80px 0 0 0px;
  }
  footer .foot--card {
    display: flex;
  }
  footer .foot--ites {
    margin-left: 100px;
    color: white;
  }
  footer .foot1 u {
    text-decoration: none;
    position: absolute;
    margin-top: 50px;
  }
  footer .foot--img {
    position: absolute;
    margin-left: 870px;
    margin-top: 400px;
  }
}/*# sourceMappingURL=style.css.map */